.main-nav {
    height: 68px;
}

.email-list {
    overflow-y: scroll;
}

.opened-email {
    overflow-y: scroll;
}

.bottom-nav {
    height: 68px;
    display: grid;
    align-content: center;
}

.navbar-brand {
    display: flex;
    justify-content: start;
}

.nav-collapse-menu {
    display: flex;
    justify-content: center;
}

.navbar {
    z-index: 5000;
    position: relative;
}

#icon-active {
    color: rgb(238, 235, 174);
    font-size: 1.5em;
}

.link {
color:rgb(233, 230, 230);
}

.link:hover {
    color: rgb(238, 235, 174);
}

/********** BREAKPOINTS **********/

/* SMALL devices (phones, 576px and DOWN)*/
@media (max-width: 576px) {
    
}

/* MEDIUM devices (tablets, 768px and DOWN)*/
@media (max-width: 768px) {
    .opened-email {
        display: none;
    }
}

/* MEDIUM devices (tablets, 768px and UP)*/
@media (min-width: 768px) {

}
/* Large and XL devices (laptops, 1200px and DOWN)*/
@media (max-width: 1200px) {
    .icons-main-menu {
        display: none;
    }
}

/* Large and XL devices (laptops, 1200px and UP)*/
@media (min-width: 1200px) {
    .main-nav {
        height: 65vh;
    }
    .bottom-nav {
        display: none;
    }

    .icons-main-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .vt-nav {
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap;
        height: 63.4vh;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }
    li {
        width: 100%;
    }
}